* {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html, body {
	font-size: 16px;
	background: rgb(96, 153, 102);
}

section#side {
	background: rgb(237, 241, 214);
	border: 30px solid rgb(64, 81, 59);
	border-radius: 2em;
}
h1{
	text-align: center;
}
section#bot {
	background: rgb(96, 153, 102);
	border-bottom: 30px solid rgb(64, 81, 59);
    position: relative;
    padding: 0;
    min-height: 100vh;
    transition: height 9999s;
}
.vertical-align {
	position: absolute;
	top: 30%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
}
.card {
	background: rgb(157, 192, 139);
    box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.035);
    padding: 7px 15px;
	border-radius: 2em;
}